
{% extends "base_html.html" %}

{% block title %}
  Service Request Form
{% endblock %}

{% block content %}
    <div class="jumbotron "> 
        <h1>Request Form</h1>
        <p>Welcome to Gas Utility Services Request Page</p>
    </div>

    {% load crispy_forms_tags %}

    <div class="" style="display: flex; flex-direction: row; justify-content: center; margin-bottom: 5vh;">
        <div class="conatiner border p-4" " >
            {% if message %}
                <p>{{ message }}</p>
                Kindly note your request <span class="badge badge-primary" >ID: {{ req_id }}</span>  for future references and checking the status.<br>
                Click <a href="/ViewRequestPage/?query={{req_id}}">here</a> to track the status of your request.<br>
                Click <a href="/RequestPage">here</a> to request another service.

                
            {% else %}
                <form action = "" method = "post" enctype="multipart/form-data"> 
                    {% csrf_token %} 
                    {{ form|crispy  }} 
                    <input type="submit" class="btn btn-primary"> 
                </form> 
            {% endif %}
        </div>
    </div>
{% endblock %}